// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info_name {
	font-family: 'Helvetica Neue', helvetica, sans-serif;
	font-weight: bold; 
	font-size: 20px;
	line-height: 20px;
	color: black;
}

.leaders_photos {
	float: left;
	 background: white;
    padding-right: 0px;
     -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;  
    border-radius: 4px;
    width: 311px;
    height: 317px;
    overflow: hidden;
}

/* custom class: to make slider photos have rounded corners */
/*.slider_photos {
	 background: white;
    padding-right: 0px;
     -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;  
    border-radius: 4px;
    overflow: hidden;
}*/

.info_bio {
	font-size: 14px;
	line-height: 22px;
	color: #8c8c8c;
	padding-left: 340px;
}

.footer_instagram {
	font-size: 14px;
	line-height: 21px;
	color: #8c8c8c;
}


.back_to_recaps {
	text-align:right
}

.registration_textfield {
	width: 150px; 
	padding: 2px; 
	/*border: 1px solid black;*/
	display: block; 
	margin-left:auto; 
	margin-right: auto;
	border-radius: 2px;
}

.small_round_corners_image {
    background: red;
    padding: 0;
     -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    width: 78px;
    height: 62px;
    overflow: hidden;
}

.instagram_photos {
	float: right;
	margin-left: 1px;
	margin-bottom: 1px;
}

.orange_color_font {
	color: #7BBEEB; /*this is actually blue */
}

.managed_content p {
	margin-bottom: 10px;

}

.nyc_subway_image {
	width: 18px;
	height: 18px;
	margin-bottom: -3px;
}

