// Place all the styles related to the recaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
	width: 80%;
	padding-left: 20px;
	
}

.actions {
	padding-left: 20px;
	padding-top: 10px;
}

#recap_body {
	height: 300px;
}

.smaller_recap_img {
	max-height: 200px;
}

.recap_photos {
	float: left;
	padding-right: 10px;
	max-height: 200px;
}



