<footer>
		<div class="container">


			<div class="widget one_fourth">
				<h5>#westutter <span class="orange_color_font">Instagram Feed</span></h5>
				<p> <%= image_tag "gary_stavro_michael.jpeg", class: "small_round_corners_image instagram_photos" %> <strong>COMING SOON:</strong> Hashtag your Instagram photos with #westutter and they'll appear on an Instagram feed on this site. <br/><strong>Stutter, smile and snap away!</strong> </p>
			</div>


			<div class="widget one_fourth">
				<h5>Date & Time of Meetings</h5>
				<p>Our meetings are held on the 3rd Monday of each month from 7:00pm – 8:30pm. If you want to come a few minutes early and get situated, we'll be there hanging out. </p>
			</div>


			<div class="widget one_fourth">
				<h5 class="orange_color_font">Newsletter</h5>							
					<p><strong>Signup to receive our monthly recaps and upcoming events!</strong></p>
					<!-- Begin MailChimp Signup Form -->
					
					<!-- <form action="http://nycstutters.us3.list-manage.com/subscribe/post?u=fc3246b3ad964c2e31007aa9a&amp;id=648f6d7e0b" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate> -->

					<form action="http://nycstutters.us3.list-manage.com/subscribe/post?u=fc3246b3ad964c2e31007aa9a&amp;id=96347b20c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>


											
						<p>
							<input type="email" placeholder="Email *" name="EMAIL" >
						</p>
						<p>
							<input type="text" placeholder="Full Name *" name="MMERGE3" >
						</p>
						<p>
							<input type="submit" value="Signup →" name="subscribe" id="mc-embedded-subscribe" class="button purple">
						</p>
					</form>
			</div>


			<div class="widget one_fourth column_last">
				<h5>Location</h5>
				<div class="location_widget">
					<%= render 'info/contact_info' %>
					<p>
						<span class="icon general">h</span> <a href="mailto:nsamidtown@gmail.com">nsamidtown@gmail.com</a> <br/>
						<span class="icon general">l</span> <a href="">www.nycstutters.com</a>
					</p>
				</div>
			</div>


			<div class="copy">
				<p>Copyright &copy;2013 NSA Midtown Chapter. All Rights Reserved.</p>
			</div>

		</div>
	</footer>







