<footer>
		<div class="container">
			<div class="widget one_fourth">
				<h2 class="logo">Advocate</h2>
				<p>This is a text widget, you can add anything you’d like to this area. Maybe  a little more info about your organization or perhaps even a bit of html.</p>
			</div>
			<div class="widget one_fourth">
				<h5>Twitter</h5>
				
				<div class="twitter_stream"></div>
				
			</div>
			<div class="widget one_fourth">
				<h5>Newsletter</h5>
								
				<form action="javascript:;" method="post">
					
					<p>Signup to receive breaking news.</p>
					
					<p>
						<label for="name">Name *</label>
						<input type="text" name="name" id="name" value="" />
					</p>
					<p>
						<label for="email">Email *</label>
						<input type="text" name="email" id="email" value="" />
					</p>
					<input type="submit" class="button white" value="Signup &#x2192;" />
				</form>
			</div>
			<div class="widget one_fourth column_last">
				<h5>Location</h5>
				<div class="location_widget">
					<p>
						1234 Revolutionary Drive <br/>
						Miami, FL 33445
					</p>
					<p>
						<span class="icon general">r</span> 123.333.4524 <br/>
						<span class="icon general">h</span> <a href="">info@revolution.com</a> <br/>
						<span class="icon general">l</span> <a href="">www.revolution.com</a>
					</p>
				</div>
			</div>
			<div class="copy">
				<p>Copyright &copy;2012 Advocate. All Rights Reserved.</p>
			</div>
		</div>
	</footer>