<%= render 'menu' %>

<section class="page_heading">
		<div class="logo container">
			<a href="">Advocate</a>			
			<span class="tagline">a theme for non-profits, charities, activists and political campaigns</span>
		</div>
	</section>
	
	<div class="page_wrapper">
		<section class="container">
			
			<!-- Start Page Content -->
			<div id="about" class="page with_sidebar">
				
				<h1>About Us</h1>
				
				<div class="full">
					<img src="images/content/nsa_women.JPG" alt="" class="rounded" />
					<p class="larger">
						<b>Welcome to the NSA Manhattan Chapter site </b> A theme designed to help non-profits give back to people, to their communities, to the environment and our planet.</p>
					<p>Like all NSA Chapters, the driving force behind our chapter is to bring people who stutter together. There are 1.6 million people in Manhattan, so statistically speaking there are enough people in the borough who stutter to pretty much fill up all of Madison Square Garden...or Barclays Center if you prefer that arena. With the help of people like you and those who join the NSA stuttering community, we could really make an impact on spreading public awareness and forming a strong stuttering community. We truly have a unique opportunity here.</p>
			
				</div>
				
				<div id="programs">
					<div class="box_heading">
						<h2>Programs</h2>
						<span class="line"></span>
					</div>
					<div class="one_third">
						<img src="images/content/about-grow.jpg" alt="" />
						<h4>Grow a Garden</h4>
						<p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. sed.</p>
					</div>
					<div class="one_third">
						<img src="images/content/about-wildlife.jpg" alt="" />
						<h4>Protect Wildlife</h4>
						<p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. sed.</p>
					</div>
					<div class="one_third column_last">
						<img src="images/content/about-volunteer.jpg" alt="" />
						<h4>Volunteer</h4>
						<p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. sed.</p>
					</div>
					
				</div>				

			</div>
			<!-- End Page Content -->
			
			<!-- Start Sidebar -->
			<aside>
				<div id="sidebar">
					<div class="widget widget_search" id="search-2">
						<form action="http://themes.two2twelve.com/wordpress/advocate/" id="searchform" method="get">
							<p>	
								<label for="s">Enter a search term...</label>
						        <input type="text" id="s" class="text_field" name="s" value="">
								<input type="submit" value="Search" id="searchsubmit" class="button white">
							</p>
						</form>
					</div>	
						
					<div class="widget">
						<h5>Recent Posts</h5>
						<div class="recent_posts">
							<ul>
								<li>
									<a href="">Wildlife Protection</a>
								</li>
								<li>
									<a href="">Give a little, Get a lot</a>
								</li>
								<li>
									<a href="">Whale Watch</a>
								</li>
								<li>
									<a href="">Save the Rain Forest</a>
								</li>
								<li>
									<a href="">Organic Gardening 101</a>
								</li>
							</ul>
							
						</div>
					</div>
					
					<div class="widget">
						<h5>Categories</h5>
						<div class="widget_categories">
							<ul>
								<li>
									<a href="">Wildlife <span>15</span></a>
								</li>
								<li>
									<a href="">Conservation <span>22</span></a>
								</li>
								<li>
									<a href="">Environmental <span>17</span></a>
								</li>
								<li>
									<a href="">Volunteer <span>6</span></a>
								</li>
								<li>
									<a href="">Donate <span>12</span></a>
								</li>
							</ul>

						</div>
					</div>
					
					<div class="widget">
						<h5>Gallery</h5>
						<div class="gallery">
							<ul>
								<li><img src="images/content/gallery_thumb_1.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_2.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_3.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_4.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_5.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_6.jpg" alt="" /></li>
							</ul>
						</div>
						
					</div>	
						
					<div class="widget">
						<h5>Video</h5>
						<div class="video">
							<iframe src="http://player.vimeo.com/video/43580167?title=0&amp;byline=0&amp;portrait=0" width="215" height="121"></iframe>
						</div>
						<p>by Revolution</p>
					</div>
						
				</div>
			</aside>
			<!-- End Sidebar --> 
			
		</section>
	</div>
	
	<%= render "footer" %>