<%= render "menu" %>

<%= render 'logo_container' %>

	
	<div class="page_wrapper">
		<section class="container">
			
			<!-- Start Page Content -->
			<div id="contact" class="page">
				
				<!-- <h1>Contact</h1> -->
				
				<div class="full">
					<div class="box_heading">
						<h2>Interested in attending a meeting?</h2>
						<span class="line"></span>
					</div>
					<p>If you are interested in attending a meeting or if you have any specific questions and would like to write us an email, please do so. And if you are thinking about coming but are just not sure, then you should defintely come! You will thank yourself later.</p>
					
<!-- 					<div class="validation">
						<p>Oops! Please correct the highlighted fields...</p>
					</div>

					<div class="success">
						<p>Thanks! I'll get back to you shortly.</p>
					</div>
					
					<form action="javascript:;" method="post" id="contact_form">
						<div class="row">
							<p>
								<label for="name">Name</label>
								<input type="text" name="name" id="name" />
							</p>
							<p>
								<label for="phone">Phone</label>
								<input type="text" name="phone" id="phone" />
							</p>
						</div>
					
						<div class="row">
							<p>
								<label for="email">Email</label>
								<input type="text" name="email" id="email" />
							</p>
							<select name="subject">
							  <option value="select">Subject</option>
							  <option value="saab">Volunteer</option>
							  <option value="mercedes">Donation</option>
							  <option value="audi">Programs</option>
							</select>
						</div>
						<p>
							<label for="message">Message</label>
							<textarea name="message" id="message"></textarea>
						</p>
						<input type="submit" class="button white" value="Send Email &rarr;" />
					</form>
				</div> -->
			
				<!-- Start Location -->
				<div id="location">
					<div class="box_heading">
						<h2>Our location</h2>
						<span class="line"></span>
					</div>

					<p>Meetings are held at the NSA National Office – 119 W. 40th Street 14th Floor New York, NY 10018 (check in at front desk, then proceed to the 14th floor – Tzell Travel offices). Located west of Bryant Park between Broadway and 6th Ave. Take 1, 2, 3, A, C, E, N, Q, R trains to Times Square; or B, D, F, M trains to Bryant Park; or 4, 5, 6 trains to Grand Central and then 7 to Bryant Park.
					</p>
					<div class="map">
						<!-- <iframe width="438" height="194" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Miami,+FL&amp;aq=0&amp;oq=Miami,+FL&amp;sll=26.464748,-80.109357&amp;sspn=0.110337,0.20359&amp;ie=UTF8&amp;hq=&amp;hnear=Miami,+Miami-Dade,+Florida&amp;t=m&amp;ll=25.789072,-80.226288&amp;spn=0.059971,0.150032&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe> -->

						

						 <iframe width="700" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=tzell%2Btravel(NSA+Chapter)&ie=UTF8&z=14&t=m&iwloc=near&output=embed"></iframe> 





					</div>
					<div class="one_fourth column_last">
						<h4>Address</h4>
						<p>
							119 W. 40th Street <br/>
							14th Floor <br/>
							New York, NY 10018
						</p>
						<p>
							<!-- <span class="icon general">r</span> 123.333.4524 <br/> -->
							<span class="icon general">h</span> <a href="">nsamidtown@gmail.com</a> <br/>
							<span class="icon general">l</span> <a href="">www.nycstutters.com</a>
						</p>
					</div>
					
				</div>
				<!-- End Location -->

			</div>
			<!-- End Page Content -->
			
			<%#= render 'side_bar' %>
			
		</section>
	</div>
	<!-- Page Wrapper -->
	
<%= render "footer" %>
