<%= render 'menu' %>
	
<%= render 'logo_container' %>

	
	<div class="page_wrapper">
		<section class="container">
			
			<!-- Start Donate -->
			<div id="donate" class="page with_sidebar">
				
				<h1>Donate</h1>
				<div>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
				</div>
				
				<div id="donation_level">
					<div class="box_heading">
						<h2>Every little bit counts</h2>
						<span class="line"></span>
					</div>
					<p class="choose">Please choose a donation level.  Paypal and credit card accepted.</p>
					<ul class="amount">
						<li><a href="#" class="color_1">Donate <h3>$5</h3></a></li>
						<li><a href="#" class="color_2">Donate <h3>$10</h3></a></li>
						<li><a href="#" class="color_3">Donate <h3>$15</h3></a></li>
						<li><a href="#" class="color_4">Donate <h3>$25</h3></a></li>
						<li><a href="#" class="color_5">Donate <h3>$50</h3></a></li>
					</ul>
				</div>
				<!-- End Donate -->
				
				<!-- Start Actions -->
				<div id="actions">
					<div class="box_heading">
						<h2>More ways to help</h2>
						<span class="line"></span>
					</div>
					<div class="box one_half">
						<div class="inner">
							<div class="box_heading">
								<span class="icon general-enclosed">2</span>
								<h4>Buy Stuff</h4>
							</div>
							<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere.</p>
						</div>
					</div>
					<div class="box one_half column_last">
						<div class="inner">
							<div class="box_heading">
								<span class="icon general-enclosed">o</span>
								<h4>Volunteer</h4>
							</div>
							<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere.</p>
						</div>
					</div>
					<div class="box one_half">
						<div class="inner">
							<div class="box_heading">
								<span class="icon general-enclosed">~</span>
								<h4>Donate</h4>
							</div>
							<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere.</p>
						</div>
					</div>
					<div class="box one_half column_last">
						<div class="inner">
							<div class="box_heading">
								<span class="icon general-enclosed">l</span>
								<h4>Share</h4>
							</div>
							<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere.</p>
						</div>
					</div>
				</div>
				<!-- End Actions -->
				
				

			</div>
			
			<!-- Start Sidebar -->
			<aside>
				<div id="sidebar">
					<div class="widget widget_search" id="search-2">
						<form action="http://themes.two2twelve.com/wordpress/advocate/" id="searchform" method="get">
							<p>	
								<label for="s">Enter a search term...</label>
						        <input type="text" id="s" class="text_field" name="s" value="">
								<input type="submit" value="Search" id="searchsubmit" class="button white">
							</p>
						</form>
					</div>	
						
					<div class="widget">
						<h5>Recent Posts</h5>
						<div class="recent_posts">
							<ul>
								<li>
									<a href="">Wildlife Protection</a>
								</li>
								<li>
									<a href="">Give a little, Get a lot</a>
								</li>
								<li>
									<a href="">Whale Watch</a>
								</li>
								<li>
									<a href="">Save the Rain Forest</a>
								</li>
								<li>
									<a href="">Organic Gardening 101</a>
								</li>
							</ul>
							
						</div>
					</div>
					
					<div class="widget">
						<h5>Categories</h5>
						<div class="widget_categories">
							<ul>
								<li>
									<a href="">Wildlife <span>15</span></a>
								</li>
								<li>
									<a href="">Conservation <span>22</span></a>
								</li>
								<li>
									<a href="">Environmental <span>17</span></a>
								</li>
								<li>
									<a href="">Volunteer <span>6</span></a>
								</li>
								<li>
									<a href="">Donate <span>12</span></a>
								</li>
							</ul>

						</div>
					</div>
					
					<div class="widget">
						<h5>Gallery</h5>
						<div class="gallery">
							<ul>
								<li><img src="images/content/gallery_thumb_1.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_2.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_3.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_4.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_5.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_6.jpg" alt="" /></li>
							</ul>
						</div>
						
					</div>	
						
					<div class="widget">
						<h5>Video</h5>
						<div class="video">
							<iframe src="http://player.vimeo.com/video/43580167?title=0&amp;byline=0&amp;portrait=0" width="215" height="121"></iframe>
						</div>
						<p>by Revolution</p>
					</div>
						
				</div>
			</aside>
			<!-- End Sidebar -->
	
		</section>
	</div>
	
	<%= render 'footer' %>