<%= render 'menu' %>
	
<%= render 'logo_container' %>

	
	<div class="page_wrapper">
		<section class="container">
			
			<!-- Start Event List -->
			<div id="events_list" class="page">
				
				<h1>Upcoming Events</h1>
				
				<!-- Start Event Item -->
				<div class="list">
					<div class="box_heading">
						<h2>July 17, 2012</h2>
						<span class="line"></span>
					</div>
					<div class="event_details">
						<h5><a href="event_description.html">Green Energy Conference</a></h5>
						<p>Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
					<div class="event_date">
						<ul class="left">
							<li>Start:</li>
							<li>End:</li>
							<li>Venue:</li>
							<li>Address:</li>
							<li>Cost:</li>
						</ul>
						<ul class="right">
							<li>July 17, 2012 8 am</li>
							<li>July 17, 2012 5 pm</li>
							<li>Menlo Park</li>
							<li>San Mateo, United States</li>
							<li>$15</li>
						</ul>
					</div>
				</div>
				<!-- End Event Item -->
				
				<!-- Start Event Item -->
				<div class="list">
					<div class="box_heading">
						<h2>September 14, 2012</h2>
						<span class="line"></span>
					</div>
					<div class="event_details">
						<h5><a href="event_description.html">Beach Clean Up</a></h5>
						<p>Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
						<p> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
					<div class="event_date">
						<ul class="left">
							<li>Start:</li>
							<li>End:</li>
							<li>Venue:</li>
							<li>Address:</li>
							<li>Cost:</li>
						</ul>
						<ul class="right">
							<li>September 14, 2012 8 am</li>
							<li>September 14, 2012 12 pm</li>
							<li>Venice Beach</li>
							<li>Los Angeles, United States</li>
							<li>Free</li>
						</ul>
					</div>
				</div>
				<!-- End Event Item -->
				
				<!-- Start Event Item -->
				<div class="list">
					<div class="box_heading">
						<h2>October 24, 2012</h2>
						<span class="line"></span>
					</div>
					<div class="event_details">
						<h5><a href="event_description.html">Organic Pot Luck Night</a></h5>
						<p>Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
					<div class="event_date">
						<ul class="left">
							<li>Start:</li>
							<li>End:</li>
							<li>Venue:</li>
							<li>Address:</li>
							<li>Cost:</li>
						</ul>
						<ul class="right">
							<li>October 24, 2012 6 pm</li>
							<li>October 24, 2012 11 pm</li>
							<li>Santa Clara University</li>
							<li>Mountain View, United States</li>
							<li>Free</li>
						</ul>
					</div>
				</div>
				<!-- End Event Item -->
				
				<!-- Start Event Item -->
				<div class="list">
					<div class="box_heading">
						<h2>November 30, 2012</h2>
						<span class="line"></span>
					</div>
					<div class="event_details">
						<h5>Rain Forest Protection Meeting</h5>
						<p>Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
					<div class="event_date">
						<ul class="left">
							<li>Start:</li>
							<li>End:</li>
							<li>Venue:</li>
							<li>Address:</li>
							<li>Cost:</li>
						</ul>
						<ul class="right">
							<li>November 30, 2012 8 am</li>
							<li>November 30, 2012 5 pm</li>
							<li>Golden Gate Park</li>
							<li>San Francisco, United States</li>
							<li>Free</li>
						</ul>
					</div>
				</div>
				<!-- End Event Item -->
					
			</div>
				
		</section>
	</div>
		
			<%= render 'footer' %>