<%= render 'menu' %>
	
<%= render 'logo_container' %>

	
	<div class="page_wrapper">
		<section class="container">
			
			<!-- Start Event List -->
			<div id="events_list" class="page">

				<div class="sub_heading">
					<h2>Thank you for signing up for our newsletter!</h2>
					<span class="line"></span>
				</div>
				
				
				
				
				
					
			</div>
				
		</section>
	</div>
		
			<%= render 'footer' %>