<%= render 'menu' %>
	
	<section class="page_heading home">
		<div class="logo container">
			<a href="">NSA Midtown Manhattan Chapter</a>			
			<span class="tagline">if you stutter, you are not alone</span>
		</div>
	</section>
	
	<!-- Start Home -->
	<div id="home" class="page_wrapper">
		
		<!-- Start Container -->
		<section class="container">
		
			<!-- Start Page -->
			<div class="page">

				
				<div class="sub_heading">
					<h2>Thank You For Signing Up To Our Newsletter!</h2>
					<span class="line"></span>
				</div>
				<div id="revolution_wrap" class="full">
					<!-- <div id="description" class="one_third"> -->
						

						<!-- <p>Advocate is built with an impressive set of custom options that lets you change font styles, create <span class="color">unlimited colors</span> and is  almost entirely image free! We use font-based icons and CSS3 buttons to make your site retina sharp and fast loading.</p> -->
						
					</div>
					
					
		
	</div>
	<!-- End Home -->

		